/* app css stylesheet */

.wrapper {
	border: solid 2px #000;
	border-width: 0 2px;
	background-color: #fff;
	padding: 1rem;
	min-height: 100%;
}

h1 {
	text-align: center;
}

ol {
	.li
}

form {
	width: 50%;
	text-alig: center;
}

legend, label, input, textarea {
	width: 100%;
}

legend, label {
	margin-top: 0.5rem;
}

legend, .name {
	font-weight: bold;
}