<h1>Users List</h1>
<p ng-if="!length">There's no data yet!</p>
<ol>
	<li ng-repeat="user in users | orderBy:'userId'">
		<p><span class="name">{{user.name}}</span> <span class="name">{{user.surname}}</span></p>
		<p>{{user.comment}}</p>
		<button ng-click="delete(user.userId)">Delete</button>
		<button ng-click="editForm = (editForm) ? false : true">Edit</button>
		<form name="user-edit" ng-hide="editForm" ng-submit="edit(edituser, user.userId)">
			<legend>Edit user</legend>
			<label for="name">Name</label><input type="text" name="name" id="name" ng-model="edituser.name">
			<label for="surname">Surname</label><input type="text" name="name" id="surname"  ng-model="edituser.surname">
			<label for="comment">Comment</label>
			<textarea name="comment" id="comment" ng-model="edituser.comment">
			</textarea>
			<input type="hidden" value="{{user.userId}}">
			<button type="submit">Submit</button>
		</form>
	</li>
</ol>
<p>Number of users: {{length}}</p>
<form name="user-add" ng-submit="add(newuser)">
	<legend>Add user</legend>
	<label for="name">Name</label><input type="text" name="name" id="name" ng-model="newuser.name" required>
	<label for="surname">Surname</label><input type="text" name="name" id="surname"  ng-model="newuser.surname" required>
	<label for="comment">Comment</label>
	<textarea name="comment" id="comment" ng-model="newuser.comment">
	</textarea>
	<button type="submit">Submit</button>
</form>